.container {
  max-width: 1200px;
  margin: auto;

  @media screen and (max-width: 1260px) {
    width: 85%;
  }
}

.text-center {
  text-align: center;
}

.text {
  h2 {
    font-size: 3.2rem;
    padding-top: 50px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 2.6rem;
    padding-top: 20px;
    margin-bottom: 5px;
  }

	p {
    margin-bottom: 20px;
    line-height: 2.4rem;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
  ul li::before {
    color: $primary;
    display: inline-block;
    content: "";
    background-color: $primary;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    margin-right: 10px;
  }

  ul li {
    line-height: 2.8rem;

    strong {
      font-weight: bold;
      color: $black;
    }
  }
}

.text-orange strong {
  color: $primary;
}

.text-purple strong {
  color: $secondary-2;
}

.text-blue strong {
  color: $secondary;
}

.icon-checkmark {
  position: relative;
  font-size: 0;

  &::before {
    content: '';
    position: absolute;
    border-color: #10E192;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    height: 12px;
    width: 5px;
  }
}

.icon-minus {
  position: relative;
  font-size: 0;
  
  &::before {
    content: '';
    position: absolute;
    background-color: $red;
    border: none;
    top: -5px;
    left: -4px;
    transform: rotate(0);
    height: 2px;
    width: 14px;
  }
}