.btn {
  text-transform: uppercase;
  color: $white;
  border-radius: 4px;
  font-weight: bold;
  padding: 20px 35px;
  display: inline-block;
  position: relative;

  &.btn-icon {
    position: relative;
    padding-left: 55px;

    img {
      position: absolute;
      left: 18px;
      top: 16px;
    }
  }

  &.blue {
    background-color: $secondary;
  }

  &.orange {
    background-color: $primary;
  }

  &.purple {
    background-color: $secondary-2;
  }
}

.btn-primary {
  background-color: $primary;
}

.btn-secondary {
  background-color: $secondary;
}

.readmore-btn {
  position: absolute;
  display: inline-block;
  background-color: #3ec3ff;
  color: $white;
  border-radius: 16px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1.2rem;
}

.clean-btn {
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline:0;
  }
}