.search-form {
  input[type=submit] {
    margin-top: 10px;
    border: none;
    padding: 12px 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }

  input[type=search] {
    width: 70%;
    border-radius: 4px;
    padding: 12.5px 20px;
    font-family: 'Montserrat', sans-serif;
    height: 37px;
    border: 1px solid #ccc;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
}

input,
select,
textarea {
  font-family: 'Montserrat', sans-serif;
  padding: 5px 15px;
}

input[type=text],
textarea,
select {
  width: 100%;
}

input[type=submit] {
  width: auto;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  background-color: $primary;
  color: $white;
}